## #To print a statement in python

In [1]:

print("Hello, World!")

Hello, World!

In [4]:
print("I am simran")

I am simran

## ## Python Variable



Text Type:      str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	    set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	    NoneType

In [13]:
#student data

marks=95
name ='simran'
standard= "12th"
location="India "

SyntaxError: invalid syntax (2417581304.py, line 3)

In [10]:
location

'India '

In [7]:
print(marks)

95

In [4]:
print(name)

simran

In [5]:
print(standard)

12th

In [6]:
#float data type example
float_variable= 45.8689

In [12]:
#data type of the variable
type(marks)
type(location)

str

## #to check the type of any variable

In [7]:


type(float_variable)

float

In [8]:
type(marks)

int

##  Type Casting

In [15]:
marks=98.786
#now i want to remove that values after decimal means i want to change this float type data into integer

In [16]:
type(marks)

float

In [17]:
int(marks)

98

In [11]:
marks_integer=int(marks)

In [12]:
marks_integer

98

In [13]:
type(marks_integer)

int

## Case Sensitive

In [19]:
a = 4
A = "Sally"
#A will not overwrite a

In [20]:
a

4

In [21]:
A

'Sally'

## Variable name

In [17]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [22]:
Student_marks=45

In [18]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (2185399839.py, line 1)

In [19]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [23]:
#One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [24]:
#Printing scenerios

In [25]:
x = 5
y = 10
print(x + y)

15

In [26]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
x = 5
y = "John"
print(x, y)

5 John

## Important stuff coming on way

In [34]:
import random
print(random.randrange(1, 10))

3

In [35]:
print(marks)

98.786

89.0