## Python Sets

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Duplicates Not Allowed

In [1]:
myset = {"apple", "banana", "cherry","apple"}

In [2]:
myset

{'apple', 'banana', 'cherry'}

In [3]:
#Duplicates Not Allowed
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [5]:
#False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [10]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [11]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

#Change Items
Once a set is created, you cannot change its items, but you can add new items.

In [12]:
#To add one item to a set use the add() method.
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [15]:
#To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'cherry', 'mango', 'apple', 'banana', 'pineapple'}

In [ ]:
#Remove Item
#To remove an item in a set, use the remove(), or the discard() method.

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [23]:
#Remove a random item by using the pop() method:
#You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [25]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [26]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

#Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [27]:
#The union() method returns a new set with all items from both sets.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [28]:
#You can use the | operator instead of the union() method, and you will get the same result.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [29]:
#Join Multiple Sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'bananas', 'John', 'a', 'Elena', 'cherry', 'b', 'apple', 'c'}

In [30]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'bananas', 'John', 'a', 'Elena', 'cherry', 'b', 'apple', 'c'}

In [31]:
#oin a Set and a Tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

#Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [32]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'b', 'c'}

In [33]:
set1

{1, 2, 3, 'a', 'b', 'c'}

In [34]:
set2

{1, 2, 3}

In [35]:
#Intersection

In [6]:
set1 = { "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

set()

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [9]:
#The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [12]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

set1

{'apple'}

In [40]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [41]:
#The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [44]:
#You can use the - operator instead of the difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1- set2
print(set3)

{'banana', 'cherry'}

In [45]:
#The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [46]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [47]:
#The symmetric_difference() method will keep only the elements that are NOT present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'cherry', 'google', 'banana'}

In [49]:
#You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.