In [1]:
import pandas as pd

mydataset = {
    'name':['Alex Johnson','Emma Garcia','Liam Patel','Sophia Nguyen','Noah Smith','Isabella Ruiz','Ethan Wang','Ava Martinez','Mason Brown','Mia Lee'],
    'sports':['Basketball','Soccer','Tennis','Volleyball','Baseball','Gymnastics','Swimming','Softball','Football','Ice Hockey'],
    'age':[16,24,15,14,13,12,14,13,14,14],
    'occupation':[]
}
myvar = pd.DataFrame(mydataset)

myvar

            name      sports  age
0   Alex Johnson  Basketball   16
1    Emma Garcia      Soccer   24
2     Liam Patel      Tennis   15
3  Sophia Nguyen  Volleyball   14
4     Noah Smith    Baseball   13
5  Isabella Ruiz  Gymnastics   12
6     Ethan Wang    Swimming   14
7   Ava Martinez    Softball   13
8    Mason Brown    Football   14
9        Mia Lee  Ice Hockey   14

In [4]:
#Create a simple Pandas Series from a list:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [5]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [2]:
#Create a simple Pandas Series from a dictionary:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

myvar

day1    420
day2    380
day3    390
dtype: int64

In [8]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [9]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64