In [1]:
print("Hello")
print('Hello')

Hello
Hello

In [2]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [3]:
name="simran"

In [4]:
name

'simran'

In [3]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [2]:
#Strings are Arrays

In [7]:
a = "Hello, World!"
print(a[10])

l

## String Length

In [9]:
a = "Hello, World!"
len(a)

13

In [11]:

txt = "The best things in life are free but only few things are free!"
print("free" in txt)

True

In [12]:
text="World leaders such as Justin Trudeau, Narendra Modi, and Boris Johnson gathered in Tokyo for a high-level summit to discuss global economic recovery and sustainable development strategies."

In [13]:
print("Narendra Modi" in text)

True

In [14]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [23]:
text="simrseannnn tanya shraddha"
if "simran" in text:
    print("Yes you are in that list")
else:
    print("It is not present")

It is not present

In [19]:
#Check if NOT

In [16]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

## Slicing Strings

In [24]:
b = "Hello, World!"
print(b[0:5])

Hello

In [26]:
name="simran singh"
print(name)

simran singh

In [18]:
#Slice From the Start

In [27]:
b = "Hello, World!"
print(b[:5])

Hello

In [21]:
#Slice To the End

In [ ]:
name="simran singh "

In [22]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [24]:
#Negative Indexing

In [25]:
b = "Hello, World!"
print(b[-5:-2])

orl

## Modify Strings

In [26]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [27]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [28]:
#Remove Whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [29]:
#Replace String

In [31]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [32]:
#Split String

In [33]:
a = "Hello, World!, I am simran, a student of 2nd year"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!', ' I am simran', ' a student of 2nd year']

In [36]:
##String Concatenation

In [37]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [34]:
a = "Hello"
b = "World"
c = a + " simran " + b
print(c)

Hello simran World

## Important stuff is coming to your way

In [39]:
#String Format

In [39]:
text=f"My name is simran and my age is {age}"

In [41]:
school="gaghaeh"
age=19
course="computer application"
name="simran"

In [47]:
sentence=f"My name is {name} and i am {age} i am doing  {course}"

In [48]:
print(sentence)

My name is simran and i am 19 i am doing  computer application

In [40]:
text

'My name is simran and my age is 36'

In [38]:
age = 36

In [41]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [42]:
#Placeholders and Modifier

In [49]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [50]:
## escape character
txt = "We are the so-called \"Vikings\" from the north."

In [51]:
txt

'We are the so-called "Vikings" from the north.'

In [52]:
name="simran"
name.capitalize()

'Simran'

## Gooof!!! there are so many methods of string

capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning